.red {
  background-color: #EA544A;
}

.white {
  background-color: #ffffff;
}


.t-red {
  color: #EA544A; 
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #404040;
}

.t-gray {
  color: #444444;
}

.t-gray-light {
  color: #9C9C9C;
}
