@import './font.scss';
@import './flex.scss';
@import './spacing.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  transition: .3s;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-image: url('@/assets/images/desktop-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.shadow {
  box-shadow: 3px 0px 15px rgba(203, 203, 203, 0.52);
}
