// Sizes
$small: 480px;
$medium: 834px;
$large: 1280px;
$xlarge: 1920px;

// Padding ===================================================

@mixin paddingCreate ($size, $coficent, $counts) {
  @for $count from 0 to $counts {
    .p-#{$count} { padding: $size * ($coficent * $count); }
    .px-#{$count} { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
    .py-#{$count} { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
    .pl-#{$count} { padding-left: $size * ($coficent * $count); }
    .pt-#{$count} { padding-top: $size * ($coficent * $count); }
    .pr-#{$count} { padding-right: $size * ($coficent * $count); }
    .pb-#{$count} { padding-bottom: $size * ($coficent * $count); }
  }
  @media (max-width: $small) {
    @for $count from 0 to $counts {
      .p-#{$count}-XS { padding: $size * ($coficent * $count); }
      .px-#{$count}-XS { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
      .py-#{$count}-XS { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
      .pl-#{$count}-XS { padding-left: $size * ($coficent * $count); }
      .pt-#{$count}-XS { padding-top: $size * ($coficent * $count); }
      .pr-#{$count}-XS { padding-right: $size * ($coficent * $count); }
      .pb-#{$count}-XS { padding-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $small) {
    @for $count from 0 to $counts {
      .p-#{$count}-S { padding: $size * ($coficent * $count); }
      .px-#{$count}-S { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
      .py-#{$count}-S { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
      .pl-#{$count}-S { padding-left: $size * ($coficent * $count); }
      .pt-#{$count}-S { padding-top: $size * ($coficent * $count); }
      .pr-#{$count}-S { padding-right: $size * ($coficent * $count); }
      .pb-#{$count}-S { padding-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $medium) {
    @for $count from 0 to $counts {
      .p-#{$count}-M { padding: $size * ($coficent * $count); }
      .px-#{$count}-M { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
      .py-#{$count}-M { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
      .pl-#{$count}-M { padding-left: $size * ($coficent * $count); }
      .pt-#{$count}-M { padding-top: $size * ($coficent * $count); }
      .pr-#{$count}-M { padding-right: $size * ($coficent * $count); }
      .pb-#{$count}-M { padding-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $large) {
    @for $count from 0 to $counts {
      .p-#{$count}-L { padding: $size * ($coficent * $count); }
      .px-#{$count}-L { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
      .py-#{$count}-L { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
      .pl-#{$count}-L { padding-left: $size * ($coficent * $count); }
      .pt-#{$count}-L { padding-top: $size * ($coficent * $count); }
      .pr-#{$count}-L { padding-right: $size * ($coficent * $count); }
      .pb-#{$count}-L { padding-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $xlarge) {
    @for $count from 0 to $counts {
      .p-#{$count}-XL { padding: $size * ($coficent * $count); }
      .px-#{$count}-XL { padding-left: $size * ($coficent * $count); padding-right: $size * ($coficent * $count); }
      .py-#{$count}-XL { padding-top: $size * ($coficent * $count); padding-bottom: $size * ($coficent * $count); }
      .pl-#{$count}-XL { padding-left: $size * ($coficent * $count); }
      .pt-#{$count}-XL { padding-top: $size * ($coficent * $count); }
      .pr-#{$count}-XL { padding-right: $size * ($coficent * $count); }
      .pb-#{$count}-XL { padding-bottom: $size * ($coficent * $count); }
    }
  }
};

// Start Padding
@include paddingCreate(1rem, 0.5, 7);


// Margin ===================================================

@mixin marginCreate ($size, $coficent, $counts) {
  @for $count from 0 to $counts {
    .m-#{$count} { margin: $size * ($coficent * $count); }
    .mx-#{$count} { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
    .my-#{$count} { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
    .ml-#{$count} { margin-left: $size * ($coficent * $count); }
    .mt-#{$count} { margin-top: $size * ($coficent * $count); }
    .mr-#{$count} { margin-right: $size * ($coficent * $count); }
    .mb-#{$count} { margin-bottom: $size * ($coficent * $count); }
  }
  @media (max-width: $small) {
    @for $count from 0 to $counts {
      .m-#{$count}-XS { margin: $size * ($coficent * $count); }
      .mx-#{$count}-XS { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
      .my-#{$count}-XS { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
      .ml-#{$count}-XS { margin-left: $size * ($coficent * $count); }
      .mt-#{$count}-XS { margin-top: $size * ($coficent * $count); }
      .mr-#{$count}-XS { margin-right: $size * ($coficent * $count); }
      .mb-#{$count}-XS { margin-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $small) {
    @for $count from 0 to $counts {
      .m-#{$count}-S { margin: $size * ($coficent * $count); }
      .mx-#{$count}-S { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
      .my-#{$count}-S { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
      .ml-#{$count}-S { margin-left: $size * ($coficent * $count); }
      .mt-#{$count}-S { margin-top: $size * ($coficent * $count); }
      .mr-#{$count}-S { margin-right: $size * ($coficent * $count); }
      .mb-#{$count}-S { margin-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $medium) {
    @for $count from 0 to $counts {
      .m-#{$count}-M { margin: $size * ($coficent * $count); }
      .mx-#{$count}-M { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
      .my-#{$count}-M { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
      .ml-#{$count}-M { margin-left: $size * ($coficent * $count); }
      .mt-#{$count}-M { margin-top: $size * ($coficent * $count); }
      .mr-#{$count}-M { margin-right: $size * ($coficent * $count); }
      .mb-#{$count}-M { margin-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $large) {
    @for $count from 0 to $counts {
      .m-#{$count}-L { margin: $size * ($coficent * $count); }
      .mx-#{$count}-L { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
      .my-#{$count}-L { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
      .ml-#{$count}-L { margin-left: $size * ($coficent * $count); }
      .mt-#{$count}-L { margin-top: $size * ($coficent * $count); }
      .mr-#{$count}-L { margin-right: $size * ($coficent * $count); }
      .mb-#{$count}-L { margin-bottom: $size * ($coficent * $count); }
    }
  }
  @media (min-width: $xlarge) {
    @for $count from 0 to $counts {
      .m-#{$count}-XL { margin: $size * ($coficent * $count); }
      .mx-#{$count}-XL { margin-left: $size * ($coficent * $count); margin-right: $size * ($coficent * $count); }
      .my-#{$count}-XL { margin-top: $size * ($coficent * $count); margin-bottom: $size * ($coficent * $count); }
      .ml-#{$count}-XL { margin-left: $size * ($coficent * $count); }
      .mt-#{$count}-XL { margin-top: $size * ($coficent * $count); }
      .mr-#{$count}-XL { margin-right: $size * ($coficent * $count); }
      .mb-#{$count}-XL { margin-bottom: $size * ($coficent * $count); }
    }
  }
};

.m-c{
  margin: 0 auto;
}

// Start Margin
@include marginCreate(1rem, 0.5, 7);
